In [1]:
import pandas as pd

In [10]:
df = pd.DataFrame([
    [  0,  0,  0],
    [ 45, 20, 50],
    [ 70, 45, 70],
    [ 90, 75, 80],
    [105,110,100],
    [120,150,130]
], columns=[1, 2, 3])

df

     1    2    3
0    0    0    0
1   45   20   50
2   70   45   70
3   90   75   80
4  105  110  100
5  120  150  130

In [14]:
df.loc[4][2] # 4 equipas para o país 2

110

In [6]:
N = 3

In [102]:
MAX_CAPACITY = 5

In [40]:
# Começar com n=3

n = 3

possible_s3 = []
print('s3 \t f3*(s3) \t x3*')
for i in range(max_sum_x+1):
    s3 = i
    l2 = df.loc[i][n]
    x3 = i
    
    possible_s3.append(s3)
    
    print("{:>2} \t {:>7} \t {:>3}".format(s3, l2, x3))

s3 	 f3*(s3) 	 x3*
 0 	       0 	   0
 1 	      50 	   1
 2 	      70 	   2
 3 	      80 	   3
 4 	     100 	   4
 5 	     130 	   5

In [41]:
possible_s3

[0, 1, 2, 3, 4, 5]

In [46]:
for s3 in possible_s3:
    possible_s2 = range(max_sum_x - s3 + 1)
    print(s3, list(possible_s2))

    
for s3 in possible_s3:
    possible_s2 = range(max_sum_x - s3 + 1)
    print(s3, list(possible_s2))

0 [0, 1, 2, 3, 4, 5]
1 [0, 1, 2, 3, 4]
2 [0, 1, 2, 3]
3 [0, 1, 2]
4 [0, 1]
5 [0]

In [52]:
def pi(teams=None, stage=None):
    # Allocate xi teams to pi country
    return df.loc[teams][stage]

In [78]:
def fstar(stage=None, sn=None):
    return df.iloc[sn][stage]

def f(n=None, available=None, allocate=None):
    # n === stage
    # available === s_n
    # allocate === x_n
    
    #p(stage=n-1) + f(n=n+1, )
    return None
    
    
def f3star(s3):
    return df.iloc[s3][3]

In [68]:
fstar(stage=3, sn=5)

130

In [69]:
f2(s2, x2) = p2(x2) + f*3(s2 - x2)

SyntaxError: can't assign to function call (<ipython-input-69-d5886e41d8bf>, line 1)

In [73]:
def p2(x2):
    if x2 == 0:
        return 0
    return df.loc[x2][2]

In [74]:
f(sn)

NameError: name 'sn' is not defined

In [91]:
x2 = 0; print(p2(0) + f3star(2 - x2))
x2 = 1; print(p2(1) + f3star(2 - x2))
x2 = 2; print(p2(2) + f3star(2 - x2))

70
70
45

for s2 in range(5 + 1):
    for x2 in range(MAX_CAPACITY - s2 + 1):
        objective = p2(x2) + f3star(s2 - x2)
        print("s2 = {s2}, x2 = {x2}, f2({s2},{x2}) = {objective:>3}".format(**{
            "x2":x2, "s2": s3, "objective": objective}))

In [105]:
for s2 in range(5 + 1):
    for x2 in range(MAX_CAPACITY - s2 + 1):
        objective = p2(x2) + f3star(s2 - x2)
        print("s2 = {s2}, x2 = {x2}, f2({s2},{x2}) = {objective:>3}".format(**{
            "x2":x2, "s2": s3, "objective": objective}))

s2 = 5, x2 = 0, f2(5,0) =   0
s2 = 5, x2 = 1, f2(5,1) = 150
s2 = 5, x2 = 2, f2(5,2) = 145
s2 = 5, x2 = 3, f2(5,3) = 155
s2 = 5, x2 = 4, f2(5,4) = 180
s2 = 5, x2 = 5, f2(5,5) = 200
s2 = 5, x2 = 0, f2(5,0) =  50
s2 = 5, x2 = 1, f2(5,1) =  20
s2 = 5, x2 = 2, f2(5,2) = 175
s2 = 5, x2 = 3, f2(5,3) = 175
s2 = 5, x2 = 4, f2(5,4) = 190
s2 = 5, x2 = 0, f2(5,0) =  70
s2 = 5, x2 = 1, f2(5,1) =  70
s2 = 5, x2 = 2, f2(5,2) =  45
s2 = 5, x2 = 3, f2(5,3) = 205
s2 = 5, x2 = 0, f2(5,0) =  80
s2 = 5, x2 = 1, f2(5,1) =  90
s2 = 5, x2 = 2, f2(5,2) =  95
s2 = 5, x2 = 0, f2(5,0) = 100
s2 = 5, x2 = 1, f2(5,1) = 100
s2 = 5, x2 = 0, f2(5,0) = 130